<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypermanager</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="viewport-wrapper">
<header>
    <label for="project-select">Select Project:</label>
    <select id="project-select" onchange="updateProjectCode()">
        <option th:each="project : ${projects.projects}" th:value="${project.code}" th:text="${project.name}"></option>
    </select>
</header>
<div class="container">
    <div class="panel" id="left-panel">
        <h2>Notes</h2>
        <div class="note-card">Note 1</div>
        <div class="note-card">Note 2</div>
        <!-- Add more note cards as needed -->
    </div>
    <div class="panel" id="middle-panel">
        <h2>Chat with LLM</h2>
        <div id="chat-container">
            <div id="chat-history"></div>
            <div class="chat-input-container">
              <input type="text" id="user-input" placeholder="Type your message..." />
              <button id="send-button">Send</button>
            </div>
          </div>
    </div>
    <div class="panel" id="right-panel">
        <h2>Attachments</h2>
        <ul>
            <li>Attachment 1</li>
            <li>Attachment 2</li>
            <!-- Add more attachments as needed -->
        </ul>
        <form id="upload-form">
            <input type="file" id="file-input"><br>
            <button type="button" id="upload-button">Upload</button>
        </form>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // var someVariable = [[${someServerValue}]];
    const base_url = '[[${config.getBaseURL()}]]';
    const api_key = '[[${config.getApiKey()}]]'; // For string values

   
</script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/llm_chat.js}"></script>
<script th:src="@{/js/upload_manager.js}"></script>
</body>
</html>