<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${project}"></title>
</head>
<body>

	<h1>Form</h1>
	<form action="#" th:action="@{/project/ingest}" th:object="${prompt}"
		method="post">
		<p>
			Project: <input type="text" th:field="*{project}" />
		</p>
		<p>
			Message: <input type="text" th:field="*{prompt}" />
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>

	<div>
		<h1 th:text="${tree.name}"></h1>
		<div th:text="${tree.description}"></div>
		<div th:text="${#dates.formatISO(tree.creationDate)}"></div>
		<div>
			<div th:each="actor : ${tree.actors}">
				<h2 th:text="${actor.name}"></h2>
				<ul th:each="story : ${actor.stories}">
					<li th:text="|${story.action} : ${story.scenario}|"></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>