<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${project}"></title>

	<link th:href="@{/styles/table_view.css}" rel="stylesheet" />
	<link th:href="@{/styles/tab_management.css}" rel="stylesheet" />

	<script  type="text/javascript">

		function openTab(evt, cityName) {
		  // Declare all variables
		  var i, tabcontent, tablinks;

		  // Get all elements with class="tabcontent" and hide them
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		  }

		  // Get all elements with class="tablinks" and remove the class "active"
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }

		  // Show the current tab, and add an "active" class to the button that opened the tab
		  document.getElementById(cityName).style.display = "block";
		  evt.currentTarget.className += " active";
		}

	</script>



</head>
<body>
	<a th:href="@{/organize/features/}+${project}">feature tree</a>
	<!--

	<h1>Form</h1>

	<form action="#" th:action="@{/project/ingest}" th:object="${prompt}"
		method="post">
		<p>
			Project: <input type="text" th:field="*{project}" />
		</p>
		<p>
			Message:
			<textarea th:field="*{prompt}"></textarea>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
 -->

	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'Stories')">Stories</button>
		<button class="tablinks" onclick="openTab(event, 'Features')">Features</button>

	</div>

	<div id="Stories" class="tabcontent">
		<h1 th:text="${tree.name}"></h1>
		<div th:text="${tree.description}"></div>
		<div th:text="${#dates.formatISO(tree.creationDate)}"></div>
		<div>
			<div th:each="actor : ${tree.actors}">
				<h2 th:text="${actor.name}"></h2>
				<ul th:each="story : ${actor.stories}">
					<li><a th:href="@{/story/details/} + ${story.id}"
						th:text="|${story.action}|"></a>
						<div th:text="|${story.scenario}|"></div></li>

				</ul>
			</div>
		</div>
	</div>

	<div id="Features" class="tabcontent">
	<div th:each="actor : ${tree.actors}">
		<div th:text="|${actor.name} (${actor.id})|" th:roswpan="${actor.span}"
			class="actorstyle"></div>
		<div th:each="story : ${actor.stories}">
			<div th:text="${story.action}" class="actionstyle"></div>
			<div th:text="${story.scenario}" class="scenariostyle"></div>
			<div th:each="feature : ${story.features}">
				<div th:text="|[${feature.type}] - ${feature.name} (${feature.id})|"
					class="featurestyle"></div>
				<div th:each="task : ${feature.tasks}">
					<div th:text="${task.title}" class="tasktyle"></div>
				</div>
			</div>
		</div>
	</div>
	</div>


	<script type="text/javascript">
		document.getElementById("Stories").click();
	</script>

</body>
</html>