<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${project}"></title>

<link th:href="@{/styles/table_view.css}" rel="stylesheet" />

</head>
<body>
	<a th:href="@{/organize/features/}+${project}">feature tree</a>
	<h1>Form</h1>
	<form action="#" th:action="@{/project/ingest}" th:object="${prompt}"
		method="post">
		<p>
			code: <input type="text" th:field="*{code}" />
		</p>
		<p>
			name: <input type="text" th:field="*{name}" />
		</p>
		<p>
			Message:
			<textarea th:field="*{description}"></textarea>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>

	<div>
		<h1 th:text="${tree.name}"></h1>
		<div th:text="${tree.description}"></div>
		<div th:text="${#dates.formatISO(tree.creationDate)}"></div>
		<div>
			<div th:each="actor : ${tree.actors}">
				<h2 th:text="${actor.name}"></h2>
				<ul th:each="story : ${actor.stories}">
					<li><a th:href="@{/story/details/} + ${story.id}"
						th:text="|${story.action}|"></a>
						<div th:text="|${story.scenario}|"></div></li>

				</ul>
			</div>
		</div>
	</div>


	<div th:each="actor : ${tree.actors}">
		<div th:text="${actor.name}" th:roswpan="${actor.span}"
			class="actorstyle"></div>
		<div th:each="story : ${actor.stories}">
			<div th:text="${story.action}" class="actionstyle"></div>
			<div th:text="${story.scenario}" class="scenariostyle"></div>
			<div th:each="feature : ${story.features}">
				<div th:text="|[${feature.type}] - ${feature.name}|"
					class="featurestyle"></div>
				<div th:each="task : ${feature.tasks}">
					<div th:text="${task.title}" class="tasktyle"></div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>