<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hyper Manager</title>
</head>
<body>
	<a th:href="@{/project/infos/} + ${story.projectCode}"
		th:text="${story.projectCode}"></a>

<h1>Story details</h1>

	<form action="#" th:action="@{/story/update}" th:object="${story}"
		method="post">
		<p>
			<input type="hidden" th:field="*{projectCode}" />
		</p>
		<p>
			<input type="hidden" th:field="*{id}" />
		</p>
		<select th:field="*{actorName}" >
			<option th:each="actor : ${actors}" th:value="${actor.name}" th:text="${actor.name}" th:selected="${actor.name}==${story.actorName}"></option>			
		</select>
		<p>
			<input type="text" th:field="*{action}" />
		</p>
		<p>
			<input type="text" th:field="*{objective}" />
		</p>
		<p>
			<textarea th:field="*{scenario}"></textarea>
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>

	</form>

<h1>Add Features</h1>

	<form action="#" th:action="@{/story/add_feature}" th:object="${newFeature}"
		method="post">
		<p>
			<input type="hidden" th:field="*{storyId}" />
		</p>
		
		<select th:field="*{type}" >
			<option th:each="selectType : ${types}" th:value="${selectType.name}" th:text="${selectType.name}"></option>			
		</select>
		
		<p>
			<input type="text" th:field="*{name}" />
		</p>
		
		<p>
			<textarea th:field="*{description}"></textarea>
		</p>
		
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
		
	</form>

<h1>Features</h1>

	<ul th:each="feature : ${story.features}">
	
	<li th:text="|[${feature.type}] ${feature.name}|"></li>
	
	</ul>


</body>
</html>
