<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="|All - ${project}|"></title>

<link th:href="@{/styles/table_view.css}" rel="stylesheet" />

</head>
<body>

	<div th:each="actor : ${tree.actors}">
		<div th:text="${actor.name}" th:roswpan="${actor.span}" class="actorstyle"></div>
		<div th:each="story : ${actor.stories}">
			<div th:text="${story.action}" class="actionstyle"></div>
			<div th:text="${story.scenario}" class="scenariostyle"></div>
			<div th:each="feature : ${story.features}">
				<div th:text="|[${feature.type}] - ${feature.name}|" class="featurestyle"></div>
				<div th:each="task : ${feature.tasks}">
					<div th:text="${task.title}" class="tasktyle"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
