<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="|All - ${project}|"></title>
</head>
<body>

	<div th:each="actor : ${tree.actors}">
		<div th:text="${actor.name}" th:roswpan="${actor.span}"></div>
		<div th:each="story : ${actor.stories}">
			<div th:text="${story.action}"></div>
			<div th:each="feature : ${story.features}">
				<div th:text="|[${feature.type}] - ${feature.name}|"></div>
				<div th:each="task : ${feature.tasks}">
				<div th:text="${task.title}"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
